<div class="background">
<div class="center jumbotron">
  <h1>ABC Bank</h1>
	<%= link_to "Register Internet Banking", new_user_registration_path, class: "btn btn-primary btn-lg" %><br>
	<br><br><br><br>
	<%= link_to "Login", new_user_session_path, class: "btn btn-info btn-lg" %>
</div>